<p>
  <b>Sender name:</b>
  <%=h @ul_file.sender_name %>
</p>

<p>
  <b>Recipient email:</b>
  <%=h @ul_file.recipient_email %>
</p>

<p>
  <b>This is the link that will appear in the email:</b>
  <% link_path = File.join("http://", @host_with_port, @ul_file.attachment.url) %>
  <a href="<%=h link_path %>"><%= link_path %></a>
</p>


<%= link_to 'Edit', edit_ul_file_path(@ul_file) %> |
<%= link_to 'Back', ul_files_path %>